@charset "uft-8";

/* 마진 */
@mixin mt($marT) {
    margin-top: $marT ;
} 
@mixin mb($marB) {
    margin-bottom: $marB ;
} 
@mixin ml($marL) {
    margin-left: $marL ;
} 
@mixin mr($marR) {
    margin-right: $marR ;
} 

@mixin pdtb($pdtb) {
    padding: $pdtb 0;
} 


@mixin bg($name, $path:"/assets/img/",$format:"png",$vert,$hori){
    background: url("#{$path}#{$name}.#{$format}") $vert $hori no-repeat;
}

@mixin border-radius($radius) {
    border-radius: $radius;
} 

@mixin trans($secend) {
    transition:all $secend;
}

@mixin tranfrot($deg) {
    -webkit-transform:rotate($deg);
    transform:rotate($deg);
}

@mixin tranflate50() {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin offeffect {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
}

@mixin oneffect {
    -webkit-transform:translateY(0);
    transform: translateY(0);
    opacity: 1;
}


// @function color($color-name) {
//     @return var(--data-color-#{$color-name});
//   }

//   background-color: color(primary);